.answer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    margin-top: 90px;
    margin-bottom: 70px;

    &>h1{
        margin: 0;
        margin-left: 115px;

        font-family: "Roboto", sans-serif;
        font-size: 48px;
        line-height: 48px;

        color: #4F2479;
    }

    &>img{
        margin: 0;
        margin-right: 115px;
    }
}