.faqBlockBg{
    width: 100%;
    height: 1436px;

    padding-top: 86px;

    background-color: #E1FD2C;

    .faqBlock{
        width: 1440px;
        height: 100%;

        &>h1{
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-size: 159px;
            line-height: 155.5px;
            font-weight: 200;
            text-align: center;

            margin: 19px auto;

            color: #4F2479;

            align-self: center;
        }

        &>hr{
            border: 1px solid #4F2479;

            width: calc(100vw - 12px);
            translate: calc((100vw - 1440px) / 2 * -1);
        }
    }

    &>img{
        position: absolute;
        width: calc(100vw - 15px);
        translate: 0px -300px;
        z-index: 1;
    }
}