.keepBtn{
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;

    width: 240px;
    height: 64px;
    border: 2px solid #4F2479;
    background-color: #E1FD2C;
    color: #4F2479;

    margin: 0;
}