.downText{
    margin-top: 90px;

    &>h1{
        font-family: "Roboto", sans-serif;
        font-size: 100px;
        font-weight: 400;
        line-height: 112px;

        color: #16774A;
        width: 550px;
    }

    &>div{
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 10px;

        &>p{
            margin: 0;

            font-family: "Roboto", sans-serif;
            font-size: 16px;
            line-height: 24px;
            
            color: #16774A;
        }

        &>img{
            margin: 0;
        }
    }

    &>hr{
        border: 1px solid #16774A;
    }
}