.mainBlockBG {
    width: 100%;
    height: 800px;
    background-color: #16774A;

    .mainBlock {
        width: 1440px;
        height: 100%;

        &>img {
            position: absolute;
            translate: 900px -200px;
        }
    }
}