.emailContact{
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 24px;

    &>h1{
        font-family: "Roboto", sans-serif;
        font-size: 42px;
        line-height: 48px;
        font-weight: 400;
        color: #E1FD2C;
        margin: 0;
    }

    &>p{
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 36px;
        width: 240px;

        margin: 0;

        color: #E1FD2C;
    }
}