.footerBlockBg {
    width: 100%;
    height: 920px;

    background-color: #4F2479;

    .footerBlock {
        width: 1200px;
        padding-top: 130px;

        .upp {
            display: flex;
            justify-content: space-between;

            margin-bottom: 80px;
        }

        .logo {
            display: flex;
            justify-content: space-between;

            &>img {
                margin: 0;
                height: 220px;
            }
        }

        .nothing {
            display: flex;
            align-items: center;

            width: 320px;
            height: 44px;

            background-color: #E1FD2C;
            overflow: hidden;

            gap: 20px;
            margin: 32px 9px 0px auto;

            &>p {
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                line-height: 18px;
                font-weight: 400;

                color: #4F2479;

                text-wrap: nowrap;

                margin-left: 15px;
            }
        }

        .someNavigation{
            display: flex;
            margin-top: 35px;

            gap: 270px;

            &>p{
                margin: 0;

                font-family: "Roboto", sans-serif;
                font-size: 18px;
                line-height: 24px;
                
                color: #E1FD2C;
            }
        }
    }
}